.center{
text-align: center;
}

.on{
background:#9ad89a;
}

.color-button{
background-color: rgb(204, 0, 204);
box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
border: none;
height: 50px;
width: 50px;
margin: 3px;
border-radius: 25px;
}

#power{
border-radius: 50px;
width: 75px;
height: 75px;
border: none;
border: 2px solid black;
box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
}

#power img{
height: 67px;
width: 67px;
margin: 0 0px 5px -5px;
}
