    <!DOCTYPE html>
    <html>
      <head>
            <title>Led remote app</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h1 class="center">LED REMOTE APP</h1>
            </div>
        </div>
    </div>
    </body>
    </html>