<!DOCTYPE html>
<html>
<head>
    <title>Led remote app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/main.js') }}">
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1 class="center">LED REMOTE APP</h1>
            <input id="powerValue" type="hidden" value="{{ value }}">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="d-flex justify-content-center">
                <button class="center" id="power">
                    <img src="{{ url_for('static', filename='images/onoff.png') }}">
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>